h1 {
  font-size: 1rem;
}

@font-face {
  font-family: 'Pokemon Hollow';
  src: url('/fonts/Pokemon-Hollow.ttf');
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url('/fonts/Pokemon-Solid.ttf');
}